 <html>
    <body background="img/abc6.jpg">
        <head>
        <meta charset="utf-8"> 
        <link href="stylesheet/signin.css" rel="stylesheet">
        <link rel= 'stylesheet' href='bootstrap/css/bootstrap.css'  type='text/css'/> 
         <link rel="stylesheet" type="text/css" media="screen" href="bootstrap/css/bootstrap-datetimepicker.min.css">
    </head>
        <div class="container"> 
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                        <div class="navbar-header">
                            <h3 style="color:white" >TestWiz</h3>
                        </div>
                       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <form class="navbar-form navbar-right" action='/logout'>
                                <div class="btn-group">
                                  <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span> <%= title %> 
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu">
                                    <li><a href="/cpasswd?user=<%= title %>" ><span class="glyphicon glyphicon-edit"></span> Change Password</a></li>
                                    <li><a href="/login"><span class="glyphicon glyphicon-wrench"></span> Change email address</a></li>
                                    <li><a href="/edit?user=<%= title %>" ><span class="glyphicon glyphicon-pencil"></span> Edit Quiz</a></li>
                                  </ul>
                                </div>
                                <button type="submit" class="btn navbar-btn btn-inverse"><span class="glyphicon glyphicon-log-out"></span> logout</button>
                          </form>
                       </div>
                        
                    </nav>
                </div>
            </div>
            </br>
            </br>
        	<div class="row">

                <div class="btn-group">
                  <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-inbox"></span> TYPE <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="" id="mcq" ><span class="glyphicon glyphicon-th-list" ></span>  MCQ Subjective </a></li>
                    <li><a href="" id="mcqimg" ><span class="glyphicon glyphicon-picture" ></span>  MCQ IMAGE </a></li>
                    <li><a href="" id="sbj" ><span class="glyphicon glyphicon-text-width" ></span>  SUBJECTIVE </a></li>
                    <li><a href="" id="eq" ><span class="glyphicon glyphicon-list-alt" ></span> EQUATION </a></li>
                  </ul>
                </div>
        	</div>
        	</br>
        	</br>
            <div class="row">
                <div class="col-lg-12">
                    <form action="/insert" method="post" enctype="multipart/form-data" >
                        <input type="hidden" class="form-control" name="paths" id="paths" value = "0" >
                        <div class="col-lg-8">
                            <div class="row">
                                <textarea class="form-control" rows="5" name="questiontt1" style="height:302px;width:100%" >
                                </textarea>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="col-lg-4">
                                <button type="button" class="btn btn-inverse" id="addi" style="height:42px" ><span class="glyphicon glyphicon-plus"></span> OPTION</button>
                            </div>
                            <div class="col-lg-8">
                                <input type="text " class="form-control" name="opt[]" id="opt" placeholder="insert index of solution" style="height:42px;width:100%;margin-bottom:10px">
                            </div>
                            <div id="dynamic" class="col-lg-12">    
                                <input type="text" class="form-control"    name="opt[]"  id="opt" placeholder="option" style="height:42px;width:100%;margin-bottom:10px">
                            </div>
                        </div>

                        <div class="row">
                            <div  id="datadynamic"  style="margin-top:10px" class="col-lg-12">

                            </div>
                        </div>
                        <div class="row" style="margin-top:10px" >
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-btn">    
                                                <button class="btn-lg btn-success" type="button">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                            <input type="text" class="form-control" name="add"  placeholder="+ve marks" style="height:42px" >
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <span class="input-group-btn">    
                                                <button class="btn-lg btn-danger" type="button">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </span>
                                            <input type="text" class="form-control" name="sub" placeholder="-ve marks" style="height:42px" >    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-success" style="height:42px;width:100%" id="submit">
                                        <span class="glyphicon glyphicon-check">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        	        	
        </div>
        </br></br></br></br></br></br></br></br>
        <div class="container marketing" >
            <div class="row"  style="color:white">
                <div class="col-lg-2">
                    <img src="icons/cloud-upload-wh.png" class="img-rounded image" id="image" onmouseover="rotation(this);" style="height:140px;width:140px">
                    <h2> Upload Questions </h2>
                    <p> Create Quiz by,Providing Questions to us with their solutions and we will conduct it for you</p>
                </div>
                <div class="col-lg-2">
                    <img src="icons/list-ol-wh.png" class="img-rounded" onmouseover="rotation(this);" style="height:140px;width:140px">
                    <h2> Versetility Of Questions </h2>
                    <p> Various kind of questions like MCQ, Subjective, questions with images and many more all under the same roof</p>
                </div>
                <div class="col-lg-2">
                    <img src="icons/calendar-wh.png" class="img-rounded" onmouseover="rotation(this);" style="height:140px;width:140px">
                    <h2> Fix a Schedule </h2>
                    <p> Provide us a date and time to propell your Quiz</p>
                </div>
                <div class="col-lg-2">
                    <img src="icons/rocket-wh.png" class="img-rounded" onmouseover="rotation(this);" style="height:140px;width:140px">
                    <h2> Launch </h2>
                    <p>  We will Launch it, on schedule provided by you...  </p>    
                </div><div class="col-lg-2">
                    <img src="icons/bar-chart-o-wh.png" class="img-rounded" onmouseover="rotation(this);" style="height:140px;width:140px">
                    <h2> Get The Result   </h2>
                    <p> Get the complete statics of evalution </p>
                </div>
                <div class="col-lg-2">
                    <img src="icons/thumbs-o-up-wh.png" class="img-rounded"  onmouseover="rotation(this);" style="height:140px;width:140px">
                    <h2> Like Us </h2>
                    <p> Like our official page </p>
                </div>
            </div>
        </div>
    </body>
    <script src="jquery-1.10.2.min.js"></script>
    <script src="jquery.cookie.js"></script>
    <script src='bootstrap/js/bootstrap.js'></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/datetimepicker.js"></script>
    <script src='js/rot.js'></script>
	<script src="/socket.io/socket.io.js"></script>
    <script>
        var $j = jQuery.noConflict();
        var socket = io.connect();
        var rotation = function (ele){
           $j(ele).rotate({
              angle:0, 
              animateTo:360, 
              callback: rotation,
              easing: function (x,t,b,c,d){        // t: current time, b: begInnIng value, c: change In value, d: duration
                  return c*(t/d)+b;
              }
           });
        }
        
        $j(function(){
            //$j.cookie('refresh','0');
            $j('#mcq').click(function(e){

            });
            $j('#mcqimg').click(function(e){
                var data = $j('<input  class="form-control" style="height:42px;width:100%;margin-top:10px" type="file" name="questiontt2" >');
                $j('#datadynamic').append(data);
                e.preventDefault();   
            });
            $j('#sbj').click(function(e){
                
            });
            $j('#eq').click(function(e){
                
            });

        	$j('#addi').click(function(){
        		var data = $j('<input type="text" class="form-control "  placeholder="option" style="height:42px;width:100%;margin-bottom:10px" >').attr('name',"opt[]",'id',"opt");
        		$j('#dynamic').append(data);
        	});
        });
    </script>
    
</html>