<html>
    <head>
        <meta charset="utf-8"> 
        <link rel= 'stylesheet' href='bootstrap/css/bootstrap.min.css'  type='text/css'/>
        <script src="all-ro.js"></script>
    </head>
    <body>
        <div class="container">
        <form  action="/showquiz"; role="form" method="post">
            <div> WELCOME <%= title%></div>
            <div> SECTION NAME : <%= secdetail[1]%> </div>
            <div> THIS SECTION CONTAINS FOLLOWING NUMBER OF QUESTIONS : <%= secdetail[3]%> </div>
            <button type="submit" class="btn btn-success"> NEXT </button>
        </form>
        </div>
    </body>
</html>