<html>
    <head>
        <meta charset="utf-8"> 
        <link rel= 'stylesheet' href='bootstrap/css/bootstrap.min.css'  type='text/css'/>
        <script src="all-ro.js"></script>
    </head>
    <body>
        <div class="container">
        <form  action="/showquiz"; role="form" method="post">
            <div> WELCOME <%= title%></div>
            <div> SECTION NAME : <%= secdetail[1]%> </div>
            <div> THIS SECTION CONTAINS FOLLOWING NUMBER OF QUESTIONS : <%= secdetail[3]%> </div>
            <%
                //var mills = parseInt(secdetail[5]);
                //var DD = mills/(24*60*60*1000);
                //mills -= DD;
               // var HH = mills/(60*60*1000);
               // mills -= HH;
               // var MM = mills/(60*1000);
               // mills -= MM;
               // var SS = mills/(1000);
               // mills -= SS;
                <div> YOU WILL BE PROVIDED  DD : HH : MM : SS TIME IN "DD:HH:MM:SS" FORMAT</div>
            %>
            
            <button type="submit" class="btn btn-success"> NEXT </button>
        </form>
        </div>
    </body>
</html>