<html>
    <body>
        <div id="statement" style="float:left;width:60%">
            <%= statement %>
        </div>
        <div id="statement" style="float:left;width:40%">
            <% for( var i=0;i < option.length ; i++){ %>
                <li> <input type="radio"> <% =option[i] %> </input> </li>
            <% } %>
        </div>
        
    </body>
    <script src="http://localhost:5000/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script>
        var $j = jQuery.noConflict();
        
        var socket = io.connect('http://localhost:5000');
        
        $j(function(){
         
        });
    </script>
</html>