<html>
	<head>
		<meta charset="utf-8"> 
		<title> QATAP </title>
		<link href="stylesheet/signin.css" rel="stylesheet">
		<link rel= 'stylesheet' href='bootstrap/css/bootstrap.css'  type='text/css'/>
	</head>
	<body>
		<div class="container">
			<div>
				<h1> WELCOME <%= title %> <h1>
				</br>
				</br>
				</br>
			</div>
			<div class="row">
				<form role="form" class="create-form" action="/quizlogin" method="post">
					<input type="hidden" name="user" value = <%= title %> >
					<button class="btn btn-lg btn-primary btn-block" type="submit" style="float:middle">take Quiz</button>
				</form>
				<form role="form" class="create-form" action="/create" > 
					<input type="hidden" name="user" value = <%= title %> >
					<button class="btn btn-lg btn-primary btn-block" type="submit" style="float:middle">create Quiz</button>
				</form>
				<form role="form" class="create-form" action="/edit" > 
					<input type="hidden" name="user" value = <%= title %> >
					<button class="btn btn-lg btn-primary btn-block" type="submit" style="float:middle">edit Quiz</button>
				</form>
			</div>
		</div>
	</body>
	<script src="jquery-1.10.2.min.js"></script>
	<script src='bootstrap/js/bootstrap.js'></script>
	<script src="http://localhost:5000/socket.io/socket.io.js"></script>    
	<script>
		var $j = jQuery.noConflict();
        var socket = io.connect('http://localhost:5000');
        $j(function(){
        	
        });
	</script>
</html>