<html>
	<head>
		<meta charset="utf-8">
		<link rel= 'stylesheet' href='bootstrap/css/bootstrap.min.css'  type='text/css'/>
		<script src="all-ro.js"></script>
	</head>
	<body background="img/alpha.jpg" >
		<div class="container">
			<form role="form" class="form group" action="/quizedit">
			<div>
				<h1> WELCOME <%= title %> <h1>
			</div>
			<div class="col-lg-6">
				<% for( var t=0; t< list.length; t++){ %>
					    <div class="input-group">
					      <span class="input-group-addon">
					        <input type="radio"  value=<%= list[t]%> id="choice" name="choice" > QUIZ ID <%= list[t] %>
					      </span>
					    </div>
				<% } %>
			</div>
			<button type="submit"  class="btn btn-success">GOOO....</button>
			</form>
			
		</div>
	</body>
</html>